.MessageTextRight{
  min-width: 300px;
  width: 70%;
  margin: 15px;
  float: right;
}
.MessageTextRight .emoji{
  width: 50px;
  text-align: right;
}
.MessageTextRight .text{
  border-radius: 7.5px;
  width: calc(100% - 60px);
  margin-left: 10px;
  text-align: right;
  background-color: rgb(218, 253, 212);
  padding: 10px;
  padding-right: 30px;
}

.MessageTextRight .text::after{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid rgb(218, 253, 212); 
  border-top: 15px solid rgb(218, 253, 212);
  border-bottom: 15px solid transparent;
  transform: rotateZ(270deg);
  right: -12px;
  top: 0;
}

.MessageTextLeft{
  min-width: 300px;
  width: 70%;
  margin: 10px;
  float: left;
}
.MessageTextLeft .emoji{
  width: 50px;
  text-align: right;
}
.MessageTextLeft .text{
  border-radius: 7.5px;
  width: calc(100% - 60px);
  margin-left: 10px;
  text-align: left;
  background-color: white;
  padding: 10px;
}

.MessageTextLeft .text::before{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid white; 
  border-top: 15px solid white;
  border-bottom: 15px solid transparent;
  transform: rotateZ(1deg);
  left: -12px;
  top: 0;
}