.Layout{
  width: 100%;
  height: 100vh; 
}

.Content-reg{
  width: 100%;
  height: calc(100% - 130px);
  background: linear-gradient( to bottom left, rgb(32, 141, 126), rgb(172, 255, 200));
}

.register-form{
  text-align: center;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.541);
  border-radius: 10px;
  background-color: white;
  padding: 40px;
}

.input{
  border: 1px solid rgb(196, 194, 194) !important;
  border-radius: 15px;
  background-color: white !important;
}

.register-button-reg{
  background-color: rgb(49, 175, 145);
  width: 25%; 
  text-align: center;
}


.image{
  margin-bottom: 10px;
}

.prefix{
  color: rgb(16, 109, 97);
}

.upload-button{
  color: white;
  background: rgb(49, 175, 145);
}